body {
    background: #203020;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: #fff;
}

.inpbg {
    //background: #555;
    //border: solid 1px;
    color: #222;
    height: 22px;
    margin-top: 2px;
    margin-top: 2px;
}

#box,#inp {
    width: 400px;
    overflow: auto;
    margin: 40px auto;
    background: #207020;
    padding-bottom: 20px;
    border-radius: 10px;
}

#message {
    background: #F00;
    color: #fff;
    font-size: 20px;
}

.cell {
    float: left;
    margin: 5px;
    height: 100px;
    width: 100px;
    font-size: 80px;
    background: #444;
    color: #cce;
    text-align: center;
    border-radius: 5px;
}

.cell:hover {
    cursor: pointer;
    background: #222;
}



.footer {
    display: block;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding-top: 10px;
}
